<h1>
  <%= @is_there_a_sports_today ? "YEP" : "MAYBE" %>
</h1>

<p>
  <%= @is_there_a_sports_today ? "Lousy SF Giants ... " : "no baseball game, but you never know ... " %>
</p>

<%= content_for(:footer) do %>
  <a class=footer_item href="/about">What is this about</a>
  <span class=footer_item>Inspired by <a href="http://isthereasportstoday.com/">Is There a Sports Today?</a></span>
<% end %>
