<!DOCTYPE HTML>
<html>
  <head>
    <title>Is Caltrain Fucked Today?</title>
    <style type="text/css">
      body {
        text-align: center;
      }

      #main {
        text-align: center;
      }

      h1 {
        font-size: 5em;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <h1>
        Not sure, I think we blew a core.
      </h1>

      <p>
        Hopefully someone fixes that ...
      </p>
    </div>
  </body>
</html>
