<!DOCTYPE HTML>
<html>
  <head>
    <title>Is Caltrain Fucked Today?</title>
    <style type="text/css">
      body {
        text-align: center;
      }

      #main {
        text-align: center;
      }

      h1 {
        font-size: 5em;
      }
      footer {
        position: absolute;
        top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="main">
        <% if @is_there_a_sports_today %>
          <h1>YEP</h1>
          <p>Lousy <%= @whom %> ...</p>
        <% else %>
          <h2>MAYBE</h2>
          <p>No baseball or football, but you never know...</p>
        <% end %>
    </div>
  </body>
</html>
