<div class=group>
  <h2>Hey so what's this about?</h2>
  <p>
    I ride Caltrain everyday from SF to Redwood City and I take my bike to make the rest of the commute to my office less painful. Luckily Caltrain has pretty good support for bikes, although some passengers are not entirely aware of the proper etiquette about bicycles. I made this website to track sports schedules and find out when Caltrain is likely to be delayed because <a href="http://isthereasportstoday.com/">there might be a sports today</a>.
  </p>
</div>
<div class=group>
  <h2>What? Proper Etiquette?</h2>
  <p>
    Yeah! There is limited space for bikes, and there is signage in every train that asks passengers to make seats available to cyclists in the bike cars.
  </p>
</div>
<div class=group>
  <h2>So what about sports then?</h2>
  <p>
    In my experience, the huge crowds that sports games bring to San Francisco tend to fill up Caltrain quickly, and they usually spill over into the bike cars, sitting on the floor, drinking, yelling, and generally wrecking havoc.
  </p>
</div>
